<?php

/**
 * @see       https://github.com/laminas-api-tools/api-tools-doctrine-querybuilder for the canonical source repository
 * @copyright https://github.com/laminas-api-tools/api-tools-doctrine-querybuilder/blob/master/COPYRIGHT.md
 * @license   https://github.com/laminas-api-tools/api-tools-doctrine-querybuilder/blob/master/LICENSE.md New BSD License
 */

return array(
    'api-tools-doctrine-querybuilder-orderby-orm' => array(
        'invokables' => array(
            'field' => 'Laminas\ApiTools\Doctrine\QueryBuilder\OrderBy\ORM\Field',
        ),
    ),
    'api-tools-doctrine-querybuilder-orderby-odm' => array(
        'invokables' => array(
            'field' => 'Laminas\ApiTools\Doctrine\QueryBuilder\OrderBy\ODM\Field',
        ),
    ),
    'api-tools-doctrine-querybuilder-filter-orm' => array(
        'invokables' => array(
            'eq' => 'Laminas\ApiTools\Doctrine\QueryBuilder\Filter\ORM\Equals',
            'neq' => 'Laminas\ApiTools\Doctrine\QueryBuilder\Filter\ORM\NotEquals',
            'lt' => 'Laminas\ApiTools\Doctrine\QueryBuilder\Filter\ORM\LessThan',
            'lte' => 'Laminas\ApiTools\Doctrine\QueryBuilder\Filter\ORM\LessThanOrEquals',
            'gt' => 'Laminas\ApiTools\Doctrine\QueryBuilder\Filter\ORM\GreaterThan',
            'gte' => 'Laminas\ApiTools\Doctrine\QueryBuilder\Filter\ORM\GreaterThanOrEquals',
            'isnull' => 'Laminas\ApiTools\Doctrine\QueryBuilder\Filter\ORM\IsNull',
            'isnotnull' => 'Laminas\ApiTools\Doctrine\QueryBuilder\Filter\ORM\IsNotNull',
            'in' => 'Laminas\ApiTools\Doctrine\QueryBuilder\Filter\ORM\In',
            'notin' => 'Laminas\ApiTools\Doctrine\QueryBuilder\Filter\ORM\NotIn',
            'between' => 'Laminas\ApiTools\Doctrine\QueryBuilder\Filter\ORM\Between',
            'like' => 'Laminas\ApiTools\Doctrine\QueryBuilder\Filter\ORM\Like',
            'notlike' => 'Laminas\ApiTools\Doctrine\QueryBuilder\Filter\ORM\NotLike',
            'orx' => 'Laminas\ApiTools\Doctrine\QueryBuilder\Filter\ORM\OrX',
            'andx' => 'Laminas\ApiTools\Doctrine\QueryBuilder\Filter\ORM\AndX',
        ),
    ),

    'api-tools-doctrine-querybuilder-filter-odm' => array(
        'invokables' => array(
            'eq' => 'Laminas\ApiTools\Doctrine\QueryBuilder\Filter\ODM\Equals',
            'neq' => 'Laminas\ApiTools\Doctrine\QueryBuilder\Filter\ODM\NotEquals',
            'lt' => 'Laminas\ApiTools\Doctrine\QueryBuilder\Filter\ODM\LessThan',
            'lte' => 'Laminas\ApiTools\Doctrine\QueryBuilder\Filter\ODM\LessThanOrEquals',
            'gt' => 'Laminas\ApiTools\Doctrine\QueryBuilder\Filter\ODM\GreaterThan',
            'gte' => 'Laminas\ApiTools\Doctrine\QueryBuilder\Filter\ODM\GreaterThanOrEquals',
            'isnull' => 'Laminas\ApiTools\Doctrine\QueryBuilder\Filter\ODM\IsNull',
            'isnotnull' => 'Laminas\ApiTools\Doctrine\QueryBuilder\Filter\ODM\IsNotNull',
            'in' => 'Laminas\ApiTools\Doctrine\QueryBuilder\Filter\ODM\In',
            'notin' => 'Laminas\ApiTools\Doctrine\QueryBuilder\Filter\ODM\NotIn',
            'between' => 'Laminas\ApiTools\Doctrine\QueryBuilder\Filter\ODM\Between',
            'like' => 'Laminas\ApiTools\Doctrine\QueryBuilder\Filter\ODM\Like',
            'regex' => 'Laminas\ApiTools\Doctrine\QueryBuilder\Filter\ODM\Regex',
        ),
    ),
);
