<?php

/**
 * @see       https://github.com/laminas-api-tools/api-tools-doctrine-querybuilder for the canonical source repository
 * @copyright https://github.com/laminas-api-tools/api-tools-doctrine-querybuilder/blob/master/COPYRIGHT.md
 * @license   https://github.com/laminas-api-tools/api-tools-doctrine-querybuilder/blob/master/LICENSE.md New BSD License
 */

namespace Laminas\ApiTools\Doctrine\ODM\QueryBuilder;

use Laminas\ServiceManager\Factory\InvokableFactory;

return [
    'api-tools-doctrine-querybuilder-options' => [
        'filter_key' => 'filter',
        'order_by_key' => 'order-by',
    ],
    'api-tools-doctrine-querybuilder-orderby-odm' => [
        'aliases' => [
            'field' => OrderBy\ODM\Field::class,
        ],
        'factories' => [
            OrderBy\ODM\Field::class => InvokableFactory::class,
        ],
    ],
    'api-tools-doctrine-querybuilder-filter-odm' => [
        'aliases' => [
            'eq'        => Filter\Equals::class,
            'neq'       => Filter\NotEquals::class,
            'lt'        => Filter\LessThan::class,
            'lte'       => Filter\LessThanOrEquals::class,
            'gt'        => Filter\GreaterThan::class,
            'gte'       => Filter\GreaterThanOrEquals::class,
            'isnull'    => Filter\IsNull::class,
            'isnotnull' => Filter\IsNotNull::class,
            'in'        => Filter\In::class,
            'notin'     => Filter\NotIn::class,
            'between'   => Filter\Between::class,
            'like'      => Filter\Like::class,
            'regex'     => Filter\Regex::class,
        ],
        'factories' => [
            Filter\Equals::class              => InvokableFactory::class,
            Filter\NotEquals::class           => InvokableFactory::class,
            Filter\LessThan::class            => InvokableFactory::class,
            Filter\LessThanOrEquals::class    => InvokableFactory::class,
            Filter\GreaterThan::class         => InvokableFactory::class,
            Filter\GreaterThanOrEquals::class => InvokableFactory::class,
            Filter\IsNull::class              => InvokableFactory::class,
            Filter\IsNotNull::class           => InvokableFactory::class,
            Filter\In::class                  => InvokableFactory::class,
            Filter\NotIn::class               => InvokableFactory::class,
            Filter\Between::class             => InvokableFactory::class,
            Filter\Like::class                => InvokableFactory::class,
            Filter\Regex::class               => InvokableFactory::class,
        ],
    ],
];
